<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:cod="http://cod.uno"
      xmlns:layout="http://www.thymeleaf.org/xsd/thymeleaf-extras-dialect-2.1.xsd"
      layout:decorator="layout/main">
<head>
    <title>Coduno Email Notification Service</title>
</head>

<body>
<div id="textcontent" layout:fragment="textcontent">
    You were invited to join <b><span th:text="${challenge}"> challenge </span></b> alongside <b><span th:text="${invitedBy}"> user </span></b>
    as part of the team <b><span th:text="${team}"> team </span></b>. The location of the challenge is
    <b><span th:text="${location}"> location </span></b>. If you are up for the challenge,
    click the button below to accept the challenge!
    To find out more, check <a cod:href="@{/contest/{challenge}/info(challenge=${challengeCanonicalName})}">this out.</a>
</div>

<div id="buttoncontent" layout:fragment="buttoncontent">
    <a cod:href="@{/contest/{challenge}/register(challenge=${challengeCanonicalName},invitingUser=${invitedByUsername})}"
       class="btn btn primary" style="color: white;">Accept challenge</a>
</div>
</body>
</html>